@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos generales */
html {
  /* Escala tipografica */
    font-size: 62.5%;

  /* Familias tipograficas */
    --font-1: "Barlow Semi Condensed", sans-serif;

  /* Variables tipograficas */
    --text-caption: 0.8rem;
    --text-note: 1rem;
    --text-base: 1.3rem;
    --text-title: 2.4rem;

  /* Colores */
    --primary-1: hsl(263, 55%, 52%);
    --primary-2: hsl(264, 82%, 80%);
    --primary-3: hsl(260, 100%, 95%);

    --neutral-1: hsl(0, 0%, 100%);
    --neutral-2: hsl(214, 17%, 92%);
    --neutral-3: hsl(0, 0%, 81%);
    --neutral-4: hsl(224, 10%, 45%);
    --neutral-5: hsl(217, 19%, 35%);
    --neutral-6: hsl(219, 29%, 14%);

    --accent-1: hsl(0, 0%, 7%);

  /* Estilos para el scrollbar */
    scrollbar-width: none;
}

body {
    font-family: var(--font-1);
    font-size: var(--text-base);
    color: var(--neutral-1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    
    width: auto;
    height: auto;

    margin: 40px 20px;
}

.testimonial-card-1 {
    grid-area: number-1;

    width: 310px;
    height: auto;

    margin: 20px;
    border-radius: 8px;

    background-color: var(--primary-1);

    -webkit-box-shadow: 20px 32px 10px 8px #c5c7ce;
    -moz-box-shadow: 20px 32px 10px 8px #c5c7ce;
    box-shadow: 20px 32px 10px 8px #c5c7ce;
}

.testimonial-card-2 {
    grid-area: number-2;

    width: 310px;
    height: auto;

    margin: 20px;
    border-radius: 8px;

    background-color: var(--neutral-5);

    -webkit-box-shadow: 20px 32px 10px 8px #c5c7ce;
    -moz-box-shadow: 20px 32px 10px 8px #c5c7ce;
    box-shadow: 20px 32px 10px 8px #c5c7ce;
}

.testimonial-card-3 {
    grid-area: number-3;

    width: 310px;
    height: auto;

    margin: 20px;
    border-radius: 8px;

    background-color: var(--neutral-2);
    color: var(--accent-1);

    -webkit-box-shadow: 20px 32px 10px 8px #c5c7ce;
    -moz-box-shadow: 20px 32px 10px 8px #c5c7ce;
    box-shadow: 20px 32px 10px 8px #c5c7ce;
}

.testimonial-card-4 {
    grid-area: number-4;

    width: 310px;
    height: auto;

    margin: 20px;
    border-radius: 8px;

    background-color: var(--accent-1);

    -webkit-box-shadow: 20px 32px 10px 8px #c5c7ce;
    -moz-box-shadow: 20px 32px 10px 8px #c5c7ce;
    box-shadow: 20px 32px 10px 8px #c5c7ce;
}

.testimonial-card-5 {
    grid-area: number-5;

    width: 310px;
    height: auto;

    margin: 20px;
    border-radius: 8px;

    background-color: var(--neutral-2);
    color: var(--accent-1);

    -webkit-box-shadow: 20px 32px 10px 8px #c5c7ce;
    -moz-box-shadow: 20px 32px 10px 8px #c5c7ce;
    box-shadow: 20px 32px 10px 8px #c5c7ce;
}

.testimonial-header {
    display: flex;
    align-items: center;

    margin: 28px 28px 12px 28px;
}

.testimonial-header img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--neutral-1);
    border-radius: 50%;
}

.testimonial-name {
    margin-left: 15px;
}

.testimonial-name h3 {
    font-size: var(--text-base);
    font-weight: 500;
}

.testimonial-name p {
    font-size: var(--text-base);
    font-weight: 300;
}

.testimonial-quote {
    margin: 0 28px 28px 28px;

    font-size: var(--text-title);
    font-weight: 500;
}

.testimonial-text {
    margin: 0 28px 28px 28px;

    font-size: var(--text-base);
    font-weight: 300;
}

@media (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-areas:
            "number-1 number-1 number-2 number-5"
            "number-3 number-4 number-4 number-5";

        grid-template-columns: repeat(4, 280px);
        grid-template-rows: repeat(2, auto);
        grid-gap: 20px;

        width: auto;
        max-height: auto;

        margin: 20px auto 20px 70px;
    }

    .testimonial-card-1 {
    grid-area: number-1;

    width: 100%;
    height: 100%;

    margin: 12px;
    border-radius: 8px;
    }

    .testimonial-card-2 {
    grid-area: number-2;

    width: 100%;
    height: 100%;

    margin: 12px;
    border-radius: 8px;
    }

    .testimonial-card-3 {
    grid-area: number-3;

    width: 100%;
    height: 100%;

    margin: 12px;
    border-radius: 8px;
    }

    .testimonial-card-4 {
    grid-area: number-4;

    width: 100%;
    height: 100%;

    margin: 12px;
    border-radius: 8px;
    }

    .testimonial-card-5 {
    grid-area: number-5;

    width: 100%;
    height: 100%;

    margin: 12px;
    border-radius: 8px;
    }
}